.projects-section{
  margin: 2rem 3.8rem;
  border-radius: 20px;
  color: white;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

.project-heading{ 
  font-size: 3.2rem;
  margin-bottom: 10rem;
  text-align: center;
  letter-spacing: 4px;
}


.projects{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  /* gap: 2rem; */
}

.project-card {
  position: relative;
  width: 70%;
  height: 50vh  ;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 1rem;
  padding-bottom: 2rem;
  border-radius: 8px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
.project-card > div {
  margin: auto auto;
}
.project-card::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 102%;
  height: 51vh;
  border-radius: 10px;
  background: linear-gradient(-45deg, #fff01c 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
}

.project-card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fff01c 0%, #40c9ff 100%);
  filter: blur(20px);
}


.project-img{
  height: 24vh;
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: 8px;
}

.title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 1rem;
}

.project-card p {
  font-size: 1.5rem;
}



.project-card p:last-child {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #e81cff;
  font-weight: 600;
}

.project-card:hover::after {
  filter: blur(30px);
}



.project-card:hover .project-card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}


.project-card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.project-link{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
}

@media screen and (max-width: 1400px) {
  .title{
    font-size: 2.5rem;
  }

  .project-card{
    font-size: 1.5rem;
  }

}

@media screen and (max-width: 1100px) {
  .projects{
    grid-template-columns: 1fr;
    gap: 8rem;
  }
}

@media screen and (max-width: 800px) {
  .title{
   font-size: 2rem; 
}
.project-card::before{
  width: 102%;
}
}

@media screen and (max-width: 650px) {
  .title{
    font-size: 1rem;
  }

  .project-card p:not(.title){
    font-size: .8rem;
  }

  .project-card-button{
    padding: 0.6rem;
    opacity: 1;
    transform: translate(-50%, -100%);
  }

  .project-card-button a span{
    font-size: 1rem;
  }

  .project-link{
    font-size: .5rem;
  }

  .project-img{
    height: 20vh;
    width: 100%;
  }

  .project-card{
    width: 100%;
    font-size: .7rem;
  }
  .project-card::before{
    width: 102%;
  }

  .projects-section{
    margin: 0;
  }

  .project-heading{
    margin-bottom: 2rem;
  }



}

@media screen and (max-width: 400px) {
  .project-heading{
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  
}